.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.overlay {
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
}

.container nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.fullscreen {
  padding: 0;
  align-self: flex-end;
}

.arrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.icon {
  pointer-events: auto;
  color: var(--offwhite);

}

.icon:hover {
  cursor: pointer;
}

.imgs {
  z-index: 1;
  display: flex;
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateX(0);
  transition: transform 250ms ease-in-out;
}

.imgs div {
  width: 630px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgs div:hover {
  cursor: auto;
}

.imgs img {
  max-height: 100%;
  object-fit: contain;
}

.imgs img:hover {
  cursor: zoom-in;
}

.container.expanded {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  align-items: center;

  .imgs div {
    margin: auto;
    width: 100vw;
    height: calc(100% - 50px);
    background-color: transparent;
    overflow: hidden;
  }

  .icon {
    margin: 15px;
  }

  .overlay {
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .overlay nav {
    height: 100%;
  }

  ul {
    flex-direction: row;
    align-self: center;
    margin-bottom: 10px;
  }

  li img {
    width: 0px;
    height: 0px;
    border: 8px solid var(--text-color);
    border-radius: 100%;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.505);
  }

}

.imgs.zoomed img {
  object-fit: cover;
}

.imgs.zoomed img:hover {
  cursor: zoom-out;
}