.container {
  width: 100%;
  padding-right: 4rem;
}

.container h3 {
  font-size: .85rem;
}

.container span {
  font-weight: 300;
  text-transform: uppercase;
}

.styleList {
  margin-top: .5rem;
  gap: 1rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}