.container {
  width: 100%;
  padding-right: 50px;
  padding-top: 20px;
}

.ratingsReviews {
  display: flex;
  font-size: 10px;
  align-items: center;
}

.container h3 {
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: .05px;
}

.container h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.strike {
  text-decoration: line-through;
}

.hidden {
  display: none;
}

.salePrice {
  color: red;
  font-weight: 400;
  margin-right: 10px;
}