.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.buttonRow {
  display: flex;
  gap: 1rem;
}

.addToBag {
  flex-grow: 5;
  // flex-shrink: 0;
}

.favorite {
  flex-grow: 0;
  // flex-shrink: 1;
  background-color: red;
}

.container select {
  height: 60px;
  width: fit-content;
  border: 1px solid var(--text-color);
  font-weight: 700;
  text-transform: uppercase;
  padding: .5rem 1rem;
  font-size: .85rem;
}

.container select:first-child {
  flex-grow: 1;
  flex-shrink: 1;

}

.container select:last-child {
  flex-shrink: 1;
  min-width: 6rem;


}