.container {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.container li:hover {
  cursor: pointer;
}

li.selected {
  position: relative;


}

li.selected div {
  margin-top: 1px;
  border-bottom: 4px solid var(--text-color);
}



.thumbnail {
  width: 3rem;
  height: 3rem;
  background-color: rgb(161, 161, 161);
  border: 1px solid var(--text-color);
  object-fit: cover;
}