.ratingBreakdown {
  .averageRating {
    font-size: 48px;
    display: flex;
  }

  .recommendation {
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .ratingRow {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    .starLabel {
      display: flex;
      align-items: center;
    }

    .ratingBarContainer {
      flex-grow: 1;
      background-color: #e0e0e0;
      margin-left: 8px;

      .ratingBar {
        height: 10px;
        background-color: #000;
      }
    }
  }
}