.ratingComponents {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .reviewCards {
    flex-grow: 1;
    padding-left: 100px;
  }

  .reviewBreakdown {
    flex-grow: 0;
  }
}

.reviewHeader {
  margin-top: 10px;
}