.reviewList {
  margin-top: 10px;
  margin-bottom: 10px;
}

.reviewButtons {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  >div:not(:last-child) {
    margin-right: 10px;
  }
}