.reviewItem {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-bottom: 2px solid black;
  background-color: var(lightgrey);
}

.starRatingContainer {
  margin-bottom: 5px;
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
}

.reviewDate {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.reviewSummary {
  font-weight: bold;
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 1.2em;
}

.reviewBody {
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
  font-size: 1.1em;
}

.reviewRecommendation {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 0.9em;
}

.checkmark {
  margin-right: 5px;
  font-size: 1.1em;
}

.reviewResponse {
  background-color: var(rgba(255, 255, 255, 0.923));
  border-left: 3px solid;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.upvoteLink {
  margin-top: 5px;
  font-size: 0.85em;
}

.reviewFooter {
  display: flex;
  align-items: normal;
}