.reviewList {
  margin-top: 10px;
  margin-bottom: 10px;
}

.reviewContainer {
  height: 400px;
  max-width: 700px;
  overflow-y: auto;
  padding: 20px;
}

.reviewButtons {
  display: flex;
  align-items: center;
  max-width: 33%;

  >div:not(:last-child) {
    margin-right: 10px;
  }
}