.ugly {
  background-color: red;
}

.container {
  width: 1000px;
  height: fit-content;
}

.galleryAndAside {
  display: flex;
  width: 100%;
}

.gallery {
  width: 63%;
}

.container aside {
  width: 37%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}