.ugly {
  background-color: red;
}

.galleryAndAside {
  display: flex;
}

.container aside {

  width: 24rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: .75rem;
}