.questions__container {
  margin: 10px auto;
  width: 95%;

  h5 {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 7px;
  }

  .questions__buttons button {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    margin-right: 20px;
    text-decoration: none;
  }
}