.answer__container {
  margin-bottom: 10px;

  .answer__heading {
    font-weight: 600;
    text-transform: none;
    margin-bottom: 0px;

    .answer__body {
      font-weight: 400;
      text-transform: none;
      margin-left: 5px;
      font-size: 12px;
    }
  }

  div.answer__meta p {
    font-size: 12px;
    display: inline-block;
    color: var(--grey-color);
    padding: 0 10px;

    &:first-of-type {
      border-right: 1px solid var(--grey-color);
    }

    &:last-child {
      border-right: none;
    }

    .upvote {
      padding-right: 7px;

    }

    div {
      display: inline-block;
    }
  }
}

button {
  background: none;
  border: none;
  text-decoration: underline;
}

.loadMoreAnswers {
  text-decoration: none;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 20px;
}